<div class="row" id="about">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h2>Мы любим своих клиентов</h2>
        <p>Наша задача — не просто предоставить вам возможность покупки, мы хотим открыть для вас совершенно новый мир запахов. Каждый день CheapSale развивается и уверенно шагает навстречу мировым трендам, чтобы вскоре познакомить вас с ароматами самых известных брендов. Наша цель — сделать лучше каждый ваш день, наполняя его красотой и невероятными ароматами. Доступные цены, широкий выбор, высокое качество продукции и европейское обслуживание – главные секреты успеха компании CheapSale. Мы заботимся о том, чтобы вы как можно больше узнали о каждом товаре, поэтому на сайте можно найти подробное описание продукта, его состав, а также фото.</p>
        <p>Клиенты CheapSale всегда могут получить профессиональную консультацию у наших менеджеров, достаточно оставить заявку на сейте и в течении часа с Вами свяжется наш менеджер. Менеджер поможет не только подобрать товар, но и ответит на все интересующие вас вопросы касательно работы магазина, оформит ваш заказ и сориентирует по времени доставки.</p>
        <p>Мы предлагаем наиболее выгодные условия без лишних примечаний: у нас нет сложных систем накопления балов, скидка не зависит от длительности сотрудничества и общей суммы заказов за определенный период. Мы сразу предлагаем клиенту самую низкую цену.
        </p>
        <p>Компания CheapSale заботится не только о качестве продукции и сервисе, но и о широком выборе товаров. В магазине представлено более 1000 наименований парфюмерии от всемирно известных брендов. Мы следим за новинками и модными тенденциями на рынке красоты, поэтому наш ассортимент постоянно обновляется и расширяется.</p>

        <h2>CheapSale - покупай обдумано!</h2>
        <p>Адрес магазина: г. Киев ул. Антоновича/Горького 127</p>
      </div>
    </div>
  </div>
</div>
