<div class="row" id="about">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h2>Мы любим своих клиентов</h2>
        <p>Наша задача — не просто предоставить вам возможность покупки, мы хотим открыть для вас совершенно новый мир запахов. Каждый день CheapSale развивается и уверенно шагает навстречу мировым трендам, чтобы вскоре познакомить вас с качественными копиями самых известных брендов. Наша цель — сделать лучше каждый ваш день, наполняя его красотой и невероятными ароматами. Доступные цены, широкий выбор, высокое качество продукции и европейское обслуживание – главные секреты успеха компании CheapSale. Мы заботимся о том, чтобы вы как можно больше узнали о каждом товаре, поэтому на сайте можно найти подробное описание продукта, его состав, а также фото.        </p>
        <p>Клиенты CheapSale всегда могут получить профессиональную консультацию у наших менеджеров, достаточно оставить заявку на сейте и в течении часа с Вами свяжется наш менеджер. Менеджер поможет не только подобрать товар, но и ответит на все интересующие вас вопросы касательно работы магазина, оформит ваш заказ и сориентирует по времени доставки.        </p>
        <p>Мы предлагаем наиболее выгодные условия без лишних примечаний: у нас нет сложных систем накопления балов, скидка не зависит от длительности сотрудничества и общей суммы заказов за определенный период. Мы сразу предлагаем клиенту самую низкую цену.
        </p>
        <h2>Ассортимент</h2>
        <p>Компания CheapSale заботится не только о качестве продукции и сервисе, но и о широком выборе товаров. В магазине представлено более 500 наименований парфюмерии от всемирно известных брендов. Мы следим за новинками и модными тенденциями на рынке красоты, поэтому наш ассортимент постоянно обновляется и расширяется.        </p>
        <p>Мы дорожим доверием клиентов, поэтому даже не пытаемся вводить в заблуждение о подлинности товара. Весь ассортимент представленный в нашем магазине это качественные копии известных брендов произведённые в Турции  и ОАЭ.        </p>
        <h2>Чем отличается наш продукт от оригинала?</h2>
        <p>Парфюмерия занимает особое место в жизни современного человека, независимо от пола, интересов и привычек.  И служит она разным целям, но все их можно свести к следующим: пленение противоположного пола, обольщение, а также своеобразное выражение любви к самому себе. Ведь, покупая очередной флакончик новых духов мы радуем, в первую очередь, именно себя.        </p>
        <p>Вполне очевидно, что для максимального самовыражения современному человеку недостаточно иметь в своей коллекции 1-2 аромата. Помочь создать такую коллекцию призваны копии парфюма, сделанные по лицензии в Турции и ОАЭ. Качество и стойкость аромата при лицензионном производстве незначительно уступают оригиналу, в отличии от цены, которая ниже в два-три раза. Поэтому многие предприниматели продают парфюмерию – Лицензия как Оригинал, соответственно по цене Оригинала. Большинство покупателей даже и не подозревают, что пользуются не Оригиналом, а Лицензией хорошего качества.</p>
        <p>Достойное качество имеет парфюмерия лицензия производства Турции и Арабских Эмиратов (ОАЭ).
          Мы подчеркиваем, что Лицензионная парфюмерия производимая в Турции и Арабских Эмиратах – это достойный внимания и качественный товар, не имеющий ничего общего с подделками производства подпольных заводов Китая.        </p>
        <p>В последнее время на оптовых рынках Украины появилось много парфюмерии *Лицензия* производства Китая, качество которых намного отличается от парфюмерии *Лицензия* производства Турции и ОАЭ.        </p>
        <p>Как правило у парфюмерии производимой в Китае присутствует большое количество брака, совсем отсутствуют натуральные масла, аромат совсем не соответствует оригинальным ароматам.         </p>
        <p>Поставщики такого товара зачастую в лучшем случае выдают его за Турецкий, Арабский или Хорватский соответственно по цене качественного товара. Хотя по себестоимости парфюмерия Китайского разлива стоит копейки.
        </p>
        <p>Кроме того, такого рода товар может быть опасен для здоровья. Так как состав этого товара не контролируется.</p>
        <h2>Почему лицензионная парфюмерия дешевле?</h2>
        <p>
          Очень часто производители лицензионной парфюмерии стараются всячески удешевить себестоимость производства парфюмерии и прибегают к различным приемам для этого.
        </p>
        <p>
          Лицензионная парфюмерия всегда дешевле оригинальной. Чтобы сэкономить, её производят на заводах, расположенных в странах с дешевой рабочей силой и дешевыми сырьевыми материалами. Всем известно, что труд во Франции стоит дороже, чем труд где-то в развивающихся странах.
        </p>
        <h2>Отличаются ли лицензионная парфюмерия от оригинала по запаху?</h2>
        <p>
          Лицензии, предоставляемые для осуществления производства парфюма, имеют массу ограничений и требований к производственному процессу и составляющим. Лицензиат имеет право повесить ярлык именитого бренда на флакон только при условии соблюдения всех условий. Одним из таких условий гарантировано является рецептура и состав парфюмерии. Т.е. лицензионная парфюмерия изготавливается так, чтобы целиком и полностью соответствовать оригиналу. Только профессионалы и большие ценители способны найти разницу между двумя вариантами. Хотя справедливо будет сказать, что даже оригинальная парфюмерия из года в год может меняться, однако это остается незамеченным покупателями.
        </p>
        <h2>CheapSale - покупай обдуманно!</h2>
      </div>
    </div>
  </div>
</div>