<div class="row" id="about">
  <div class="col-md-9">
    <div class="row">
      <div class="well">
        <h2>Мы любим своих клиентов</h2>
        <p>Наша задача — не просто предоставить вам возможность покупки, мы хотим открыть для вас совершенно новый мир запахов.
          Каждый день МАГАЗИН развивается и уверенно шагает навстречу мировым трендам, чтобы вскоре познакомить вас с качественными копиями самых известных брендов.
          Наша цель — сделать лучше каждый ваш день, наполняя его красотой и невероятными ароматами. Доступные цены, широкий выбор, высокое качество продукции и европейское обслуживание – главные секреты успеха компании МАГАЗИН.
          Мы заботимся о том, чтобы вы как можно больше узнали о каждом товаре, поэтому на сайте можно найти подробное описание продукта, его состав, а также фото.
        </p>
        <p>Клиенты МАГАЗИН всегда могут получить профессиональную консультацию у наших менеджеров, достаточно оставить заявку на сейте и в течении часа с Вами свяжется наш менеджер.
          Менеджер поможет не только подобрать товар, но и ответит на все интересующие вас вопросы относительно работы магазина, оформит ваш заказ и сориентирует по времени доставки
        </p>
        <p>Мы предлагаем наиболее выгодные условия без лишних примечаний: у нас нет сложных систем накопления балов, скидка не зависит от длительности сотрудничества и общей суммы заказов за определенный период.
          Мы сразу предлагаем клиенту самую низкую цену.
        </p>
        <h2>Ассортимент</h2>
        <p>Компания МАГАЗИН заботится не только о качестве продукции и сервисе, но и о широком выборе товаров.
          В магазине представлено более 500 наименований парфюмерии от всемирно известных брендов.
          Мы следим за новинками и модными тенденциями на рынке красоты, поэтому наш ассортимент постоянно обновляется и расширяется.
        </p>
        <p>Мы дорожим доверием клиентов, поэтому даже не пытаемся вводить в заблуждение о подлинности товара.
          Весь ассортимент представленный в нашем магазине это качественные копии известных брендов произведённые в Италии, Турции  и ОАЭ.
        </p>
        <h2>Чем отличается наш продукт от оригинала?</h2>
        <p>Парфюмерия занимает особое место в жизни современного человека, независимо от пола, интересов и привычек.  
          И служит она разным целям, но все их можно свести к следующим: пленение противоположного пола, обольщение, а также своеобразное выражение любви к самому себе.
          Ведь, покупая очередной флакончик новых духов мы радуем, в первую очередь, именно себя.
        </p>
        <p>Вполне очевидно, что для максимального самовыражения современному человеку недостаточно иметь в своей коллекции 1-2 аромата.
          Помочь создать такую коллекцию призваны копии парфюма, сделанные по лицензии в Италии, Турции и ОАЭ.
          Именно эти страны, одни из нескольких, которые являются лидерами производства высококачественных копий известных духов, которые по своим характеристикам не уступают своим породистым оригиналам.
        </p>
        <p>Конечно, не последнее место занимает цена. Парфюм, сделанный по лицензии, в несколько раз дешевле оригинала.
          Кроме этого, копия практически полностью повторяет настоящие духи, потому как при производстве используются  идентичные парфюмерные составляющие и основы.
        </p>
        <p>Разница в цене оригинального парфюма и копий тоже очевидна.
          Это и использование недорогой рабочей силы, и перенос производства в страны с более льготным налогообложением, и использование качественных, идентичных  натуральных компонентов, и отсутствие трат на дорогостоящие рекламные компании.   
          Но, как говорил известный парфюмер, создатель уникальных духов «Molekule» Геза Шоен: «Я не гонюсь за натуральностью, куда важней для меня суть запаха, его чистота».
          Все это позволяет приобретать  любимые ароматы по доступной цене.
        </p>
        <p>Копия хорошего качества практически полностью повторяет композицию настоящего парфюма.
          Она сохраняет запатентованную формулу оригинала, имеет аналогичную упаковку, название и создается под контролем сертификационных компаний.
        </p>
        <p>Так чем же отличается парфюм, сделанный по лицензии и оригинал?
        </p>
        <p>Лицензионные качественные копии включаю все компоненты образца оригинального парфюма.
          Компонентные составляющие копии производятся из синтетических веществ, идентичным натуральным.
          А натуральный парфюм состоит преимущественно из натуральных и дорогостоящих составляющих,  аналоги которых легко повторяет копия.
        </p>
        <p>Качественная копия – это своеобразный компромисс между «настоящим» парфюмом и менее дорогим аналогом.
          Каждый сам выбирает, чего именно ему недостает для завершения образа и каким именно ароматом ему пользоваться.
        </p>
        <p>Так зачем же платить в разы больше?
        </p>
      </div >
    </div>
  </div>
</div>