<div class="row" id="about">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h2>График работы</h2>
        <p>Пн – Пт:  9:00 - 18:00</p>
        <p>Сб, Вс :  10:00 - 16:00</p>
        <h2>Доставка</h2>
        <p>Отправка заказов производиться транспортной компанией «Нова пошта».</p>
        <P>Время доставки Вашей посылки компанией «Новая почта» в пункт назначения обычно составляет не более 3-х рабочих дней.
          На следующий день после оформления Вашего заказа мы передаем посылку компании «Нова пошта» для осуществления доставки.
          После этого перевозчик уведомит Вас о точных сроках и времени прибытия товара в пункт назначения.
          <b class="warn">Доставка за счёт магазина.</b></P>
        <P><b class="warn">Обратите внимание!</b> При доставке до склада транспортной компании заказ хранится на пункте выдачи не более 5 рабочих дней, после чего отправляется обратно!
          Получить заказ может только человек, который указан в транспортной декларации как получатель.
          При себе необходимо обязательно иметь удостоверение личности!</P>
        <p>Заказы с доставкой через «Нову пошту» принимаются согласно графику работы перевозчика.
          График работы компании «Нова пошта» Вы можете найти на официальном сайте компании.
          Также Вы можете отследить заказ с помощью специального сервиса на сайте компании.</p>
      </div>
    </div>
  </div>
</div>