<div class="row" id="about">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h2>Чем отличается лицензия от оригинала?</h2>
        <p>
          <b>Парфюмерия</b> занимает особое место в жизни современного человека, независимо от пола, интересов и привычек.  И служит она разным целям, но все их можно свести к следующим: пленение противоположного пола, обольщение, а также своеобразное выражение любви к самому себе. Ведь, покупая очередной флакончик новых духов мы радуем, в первую очередь, именно себя.
        </p>
        <p>
          Вполне очевидно, что для максимального самовыражения современному человеку недостаточно иметь в своей коллекции 1-2 аромата. Помочь создать такую коллекцию призваны копии парфюма. Качество и стойкость аромата при лицензионном производстве незначительно уступают оригиналу, в отличии от цены, которая ниже в два-три раза. Поэтому многие предприниматели продают парфюмерию – Лицензия как Оригинал, соответственно по цене Оригинала. Большинство покупателей даже и не подозревают, что пользуются не Оригиналом, а Лицензией хорошего качества.
        </p>
        <h2>Почему лицензионная парфюмерия дешевле?</h2>
        <p>
          Очень часто производители лицензионной парфюмерии стараются всячески удешевить себестоимость производства парфюмерии и прибегают к различным приемам для этого.
          Лицензионная парфюмерия всегда дешевле оригинальной. Чтобы сэкономить, её производят на заводах, расположенных в странах с дешевой рабочей силой и дешевыми сырьевыми материалами. Всем известно, что труд во Франции стоит дороже, чем труд где-то в развивающихся странах.
        </p>
        <h2>Отличаются ли лицензионная парфюмерия от оригинала по запаху?</h2>
        <p>
          Лицензии, предоставляемые для осуществления производства парфюма, имеют массу ограничений и требований к производственному процессу и составляющим. Лицензиат имеет право повесить ярлык именитого бренда на флакон только при условии соблюдения всех условий. Одним из таких условий гарантировано является рецептура и состав парфюмерии. Т.е. лицензионная парфюмерия изготавливается так, чтобы целиком и полностью соответствовать оригиналу. Только профессионалы и большие ценители способны найти разницу между двумя вариантами. Хотя справедливо будет сказать, что даже оригинальная парфюмерия из года в год может меняться, однако это остается незамеченным покупателями.
        </p>
      </div>
    </div>
  </div>
</div>