<div class="row" id="about">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h2>ПОЛЕЗНО ЗНАТЬ</h2>
        <p>Что такое "Тестер", почему тестеры дешевле, каковы "за и против" покупки тестера?</p>
        <p>Наряду с традиционными видами парфюмерных товаров, в нашем прайсе довольно часто предлагается "тестер". Мы предлагаем тестеры для тех покупателей, которые хотят от своей покупки получить максимум качества, затратив при этом минимум средств.
          Тестер – это демонстрационный вариант аромата, который прилагается производителями к партии товара с целью его рекламы непосредственно на месте продажи. Хотелось бы подчеркнуть, что никаких отличий (качество аромата, стойкость и т. п.) тестер от варианта для продажи не имеет. Разница лишь в том, что поскольку тестеры выпускаются с целью рекламы, фирма-производитель не столь бережно относится к их оформлению: тестеры часто имеют более простой флакон (как правило, это большой спрей-пульверизатор без крышки) и предлагаются Вам в так называемой технической упаковке (простой коробке, отличной от той, в которой выпускаются ароматы для продажи). От этого и более низкая цена тестеров.
          Если Вы покупаете аромат себе, особенно если он Вам хорошо знаком и Вас не смущает ни большой (100 мл и более) объем, ни упрощенное оформление, то нет покупки выгоднее, чем тестер. Однако, в подарок тестер покупать не стоит, ибо в подарке всегда играет весьма значительную роль его оформление.</p>
        <p>Что такое EDP, EDT, TESTER и другие обозначения на сайте?
        </p>
        <p>EDP - Парфюмированная вода</p>
        <p>EDT - Туалетная вода</p>
        <p>EDC (ODC) - Одеколон</p>
        <p>
          PARFUM - Духи
        </p>
        <p>
          TESTER - Тестер
        </p>
        <p>
          SET - Набор
        </p>
        <p>
          BALM - Бальзам
        </p>
        <p>
          AFSH (after shave) - После бритья
        </p>
        <p>
          A/B - Бальзам после бритья
        </p>
        <p>
          B/L (body lotion) - Молочко для тела
        </p>
        <p>
          S/G (show gel) - Гель для душа
        </p>
        <p>
          Stick - Твердый
        </p>
      </div>
    </div>
  </div>
</div>