<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новый запрос на перезвон</h1>
<h3>Имя: <b><%= @name %></b></h3>
<h3>Номер телефона: <b><%= @phone %></b></h3>
</body>
</html>