@import "bootstrap-sprockets";
@import "bootstrap";
@import "items";
@import "shop";
@import "sessions";

html body {
  background: url( 'background.jpg' ) fixed center;
  background-size: cover;
}

#cart {
  width: 100%;
  text-align: center;

  button {
    width: 95%;
    margin: 5px;
  }
}

.alert.alert-info {
  text-align            : center;
  position              : fixed;
  top                   : 50%;
  left                  : 50%;
  right                 : auto;
  bottom                : auto;
  marginRight           : -50%;
  transform             : translate(-50%, -50%);
  -ms-transform         : translate(-50%, -50%);
  -webkit-transform     : translate(-50%, -50%);
  width                 : 60%;
}

.anim-enter {
  opacity: 0.01;
}

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.anim-leave {
  opacity: 0.01;
}

.anim-leave.anim-leave-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.table {
  width: 100%;
  th, td, tr {
    height: 30px;
  }

  .button-td {
    width: 20%;
  }
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #5b4be8;
  border-color: lightblue;
}

.navbar-inverse .navbar-brand {
  color: wheat;
}

.navbar-inverse .navbar-nav > li > a {
  color: wheat;
}

#scroll-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1000;
}