#main_container {
  margin-top: 60px;

  .table-row-equal {
    display: flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }

    :after,
    :before {
      display: flex;
    }

    .thumbnail {
      padding: 0;
      height: 580px;
      overflow: visible;

      .description {
        height: 65px;
        position: relative;
        width: 100%;
        overflow: hidden;
      }

      :hover {
        .description {
          height: 100%;
          z-index: 100;
          background: #e3ceb3;
          width: 100%;
        }
      }

      .caption {
        padding: 0;
        h4 {
          padding: 2px;
          word-wrap: break-word;
        }

        img {
          background-color: white;
          max-width: 100%;
          display: block;
          margin: auto;
        }

        button {
          margin: 5px;
          width: 95%;
        }

        p {
          padding: 2px;
        }
      }
    }
  }

  footer {
    margin: 50px 0;
  }
}

#about {
  margin-top: 60px;
}

.vendors {
  margin: 2px;
  list-style-type: none;
  label {
    margin-bottom: 0;
  }
}

.well {
  p {
    text-indent: 40px;
    text-align: justify;
  }

  h2 {
    text-align: center;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.priceh:before,
.priceh:after {
  content: "";
  display: table;
}
.priceh:after {
  clear: both;
}
.priceh {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row.thumbnail {
  margin: 2px;
}

.row.thumbnail.summary {
  margin: 2px;
  background: lightgray;
}

.row.buttons {
  margin: 5px;
}

.warn {
  font-size: 150%;
}

@media screen and (max-device-width : 1171px)
{
  #callback {
    width: 100% !important;
    margin-left: 0 !important;
  }
  #schedule {
    span {
      font-size: 100% !important;
    }
  }
  #title-row {
    height: 122px !important;
  }
}

#title-row {
  height: 200px;
  margin-top: -20px;
}

.promo {
  font-size: 120%;
}

.lead {
  img {
    width: 100%;
  }
}

.list-group-item {
  display: inline-block;
  width: 25%;
  padding-right: -10px;
  background-color: #e3ceb3;
  text-align: center;
  color: #35025c !important;
}

.list-group-item.or {
  width: 50%;
  margin-bottom: 0;
}

.list-group-item.or.disc {
  color: red !important;
}

#vendors-container {
  background: rgba(255, 255, 255, 0.4);
  .vendors {
    color: darkblue;
  }
}

.thumbnail.item {
  margin-bottom: 4px;
  background: #e3ceb3;
}

#cart {
  background: rgba(255, 255, 255, 0.4);
}

.order {
  position: relative;
  z-index: 100;
  background: #e3ceb3;
}

#schedule {
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  span {
    font-size: 150%;
  }
  #callback {
    width: 40%;
    margin-left: 100px;
   }
}

.block {
  display: block;
  margin: 5px;
  width: 100%;
  border-width: 2px;
  border-style: groove;
}

.default-price {
  text-decoration: line-through;
  display: inline;
  color: lightslategray;
}

.discounted-price {
  display: inline;
  color: red;
}

.discount {
  position: absolute;
  right: 20px;
  top: 0;
  color: red;
  font-size: 150%;
  text-align: center;
}

.social-media {
  img {
    margin: 3px !important;
    display: inline !important;
  }
}