#main_container {
  margin-top: 60px;

  .table-row-equal {
    display: flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }

    :after,
    :before {
      display: flex;
    }

    .thumbnail {
      padding: 0;
      height: 530px;
      overflow: visible;

      .description {
        height: 85px;
        position: relative;
        width: auto;
        overflow: hidden;
      }

      :hover {
        .description {
          height: 100%;
          z-index: 100;
          background: bisque;
        }
      }

      .caption {
        padding: 0;
        h4 {
          padding: 2px;
          word-wrap: break-word;
        }

        img {
          width: 100%;
        }

        button {
          margin: 5px;
          width: 95%;
        }

        p {
          padding: 2px;
        }
      }
    }
  }

  footer {
    margin: 50px 0;
  }
}

#about {
  margin-top: 60px;
}

.vendors {
  margin: 2px;
  list-style-type: none;
  label {
    margin-bottom: 0;
  }
}

.well {
  p {
    text-indent: 40px;
    text-align: justify;
  }

  h2 {
    text-align: center;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.priceh:before,
.priceh:after {
  content: "";
  display: table;
}
.priceh:after {
  clear: both;
}
.priceh {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row.thumbnail {
  margin: 2px;
}

.row.thumbnail.summary {
  margin: 2px;
  background: lightgray;
}

.row.buttons {
  margin: 5px;
}

.warn {
  font-size: 150%;
}

.green {
  display: inline;
  color: yellow;
}

.blue {
  display: inline;
  color: orange;
}

#title-container {
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
  font-size: 400%;
  font-family: 'Indie Flower', cursive;
}

#title-row {
  height: 200px;
  background: url( 'title_background.jpg' );
  background-position: calc(100%) calc(50%);
  border: solid 2px cornflowerblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  .right {
    -ms-transform: rotate(-13deg); /* IE 9 */
    -webkit-transform: rotate(-13deg); /* Safari */
    transform: rotate(-13deg);
    margin: 60px 0;
  }
}

#delivery-image {
  height: 162px;
  width: 310px;
  background: url( 'delivery.png' );
  background-size: cover;
  margin: 20px;
}

.lead {
  padding-left: 60px;
  #slogan {
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    font-size: 160%;
    font-family: 'Lobster', cursive;
    color: lawngreen;
  }
}

.list-group-item {
  display: inline-block;
  width: 25%;
  padding-right: -10px;
  background-color: lightblue;
}

a.list-group-item {
  color: blue;
}

#vendors-container {
  background: rgba(255, 255, 255, 0.4);
  h4 {
    color: darkgoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .vendors {
    color: darkblue;
  }
}

.thumbnail.item {
  background: bisque;
}

#cart {
  background: rgba(255, 255, 255, 0.4);
}

.order {
  position: relative;
  z-index: 100;
  background: bisque;
}

#schedule {
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  h3 {
    float: left;
    width: 60%;
    font-family: 'Lobster', cursive;
    color: lawngreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 5px;
  }
  #callback {
    float: right;
    width: 20%;
    margin-right: 10px;
  }
}

.block {
  display: block;
  margin-bottom: 7px;
  width: 100%;
}